	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<ul class="dl-menu">
			<li><a href="{{ site.url }}/">Home</a></li>
			<li>
				<a href="#">About</a>
				<ul class="dl-submenu">
					<li>
						<img src="{{ site.url }}/{{ site.logo }}" alt="{{ site.title }} photo" class="author-photo">
						<h4>{{ site.title }}</h4>
						<p>{{ site.description }}</p>
					</li>
					<li><a href="{{ site.url }}/about/"><span class="btn btn-inverse">Learn More</span></a></li>
					{% if site.email %}<li>
                        <a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i> Email</a>
                    </li>{% endif %}
                    {% if site.github-url %}<li>
                        <a href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-github"></i> Github</a>
                    </li>{% endif %}
                    {% if site.steam %}<li>
                        <a href="http://steamcommunity.com/id/{{ site.steam }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-steam-square"></i> Steam</a>
                    </li>{% endif %}
                    {% if site.telegram %}<li>
                        <a href="https://t.me/{{ site.telegram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-telegram-o"></i> Telegram</a>
                    </li>{% endif %}
				</ul><!-- /.dl-submenu -->
			</li>
			{% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->
