                    <hr class="hr-line">
                    <h3 class="title" style="font-size:30px;">
                        {% if site.email %}<a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i></a>{% endif %}
                        {% if site.github-url %}<a class="social-btn" href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-github"></i></a>{% endif %}
                        {% if site.steam %}<a class="social-btn" href="http://steamcommunity.com/id/{{ site.steam }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-steam-square"></i></a>{% endif %}
                        {% if site.telegram %}<a class="social-btn" href="https://t.me/{{ site.telegram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-telegram"></i></a>{% endif %}
						{% if site.vk %}<a class="social-btn" href="https://vk.com/{{ site.vk }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-vk"></i></a>{% endif %}
						{% if site.instagram %}<a class="social-btn" href="https://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i></a>{% endif %}
						{% if site.youtube-channel %}<a class="social-btn" href="https://www.youtube.com/channel/{{ site.youtube-channel }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube"></i></a>{% endif %}
                  </h3>
