---
layout: compress
---
<!DOCTYPE html>
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
		<div id="particles-js"  style="overflow:hidden;"><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;"></canvas></div>
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url2 }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url2 }}">
                        	<p style="font-size:1.8rem;font-weight:400">{{ site.title }}</p>
							<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url2 }}">
                        	<p style="font-size:1rem;font-weight:300">{{ site.info }}</p>
			            </a>
                    </h3>
                    {% include social-links.html %}
					<hr class="hr-line">
                    <h3 class="title">
                         <a class="btn zoombtn" href="https://t.me/senk0n_blog" target="_blank" rel="noopener noreferrer">tg Blog</a>
                         <a class="btn zoombtn" href="https://qiwi.me/senk0n" target="_blank" rel="noopener noreferrer">Donate</a>
                         <a class="btn zoombtn" href="https://t.me/S0_link" target="_blank" rel="noopener noreferrer">tg Links</a>
                 </h3>
            </div>
        </div>
    </header>
	{% include scripts.html %}
</body>
</html>
